/*  公共样式 */
/*  命名特异化具体化 */

.app-view-block {
    margin: var(--o-spacing-h4) var(--o-spacing-h2);
    min-width: 1200px;
    min-height: 800px;
}

.app-view-login{
  min-width: 1200px;
    min-height: 800px;
    height: 100vh;
    background-position: center top;
    background-size: 100% auto;
    background-repeat: repeat;
    background-image: url(@/assets/bg/bg.jpg);
    // padding-top:80px;
    display:flex;
    align-items: center;

}
